<footer
  class="grid grid-cols-1 lg:grid-cols-2 gap-2 max-w-7xl mx-auto col-span-full"
>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
    <div class="p-8 bg-gray-200 rounded-3xl">
      <h3 class="  font-display text-orange-600 text-base lg:text-xl">Navigation</h3>
      <ul
        role="list"
        class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-gray-500 uppercase"
      >
        <li>
          <a href="#work" class="hover:text-black"> Work</a>
        </li>
        <li>
          <a href="#how" class="hover:text-black"> How it works</a>
        </li>
        <li>
          <a href="#pricing" class="hover:text-black"> Pricing</a>
        </li>
        <li>
          <a href="#faq" class="hover:text-black"> FAQ</a>
        </li>
      </ul>
    </div>
    <div class="p-8 bg-gray-200 rounded-3xl">
      <h3 class="  font-display text-blue-500 text-base lg:text-xl">Other projects</h3>
      <ul
        role="list"
        class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-gray-500 uppercase"
      >
        <li>
          <a href="#" class="hover:text-black">
            Qreate.
          </a>
        </li>
      </ul>
    </div>
    <div class="p-8 bg-gray-200 rounded-3xl">
      <h3 class="  font-display text-green-500 text-base lg:text-xl">Resources</h3>
      <ul
        role="list"
        class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-gray-500 uppercase"
      >
        <li>
          <a href="#_" class="hover:text-black"> Breeew</a>
        </li>
        <li>
          <a href="#_" class="hover:text-black"> Stripe</a>
        </li>
      </ul>
    </div>
    <div class="p-8 bg-gray-200 rounded-3xl">
      <h3 class="  font-display text-amber-500 text-base lg:text-xl">Socials</h3>
      <ul
        role="list"
        class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-gray-500 uppercase"
      >
        <li>
          <a href="https://x.com/0xNoushad" class="hover:text-black">
            @0xNoushad
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="p-8 bg-gray-200 rounded-3xl justify-end flex flex-col">
    <div>
      <p class="text-sm text-black">
        © 2024 Qreate Design. All rights reserved
      </p>

      <div class="gap-x-8 gap-y-6 mt-6">
        <div>
          <p class="text-sm text-gray-600 lg:col-span-2">
            Qreate is a Website Agency that provides a Web Service And development of Website
            <a
              href="https://michaelandreuzza.com/"
              class="text-sm text-black hover:text-accent-300"
              >Qreate</a
            >,UI Designer and Front end Developer Team. I
            also build Website For People. Learn more.
          </p>
        </div>
      </div>
    </div>
  </div>

</footer>
